h1, h2, h3 {
	font-family: Arial;
	font-weight: bold;
	color: #553100;
}

.jumbotron {
		margin-bottom: 1%;
		padding-bottom: 0%;
		background-color: #553100;
		
	h1 {
		margin-top: 0%;
		text-align: center;	
		font-size: 900%;
		color: white;
	}
}

.cocktailListing {
	h4 {
		margin-left: 1%;
		font-size: 200%;
	}

	li {
		font-size: 150%;
		list-style-type: square;
	}

	p {
		font-size: 150%;
		margin-left: 2%;
	}
}

.panel-body {
	font-family: serif;
	font-size: 120%;
}

.formAlert {	
	color:red;
	margin-top: 0%;
	margin-bottom: 0%;
	font-family: Arial;
	
	 &:before {
        content: "*";
    }
}

#currentIngredientList {
	li {
		list-style-type: square;
		font-size: 16pt;
	}
}

#addIngredientButon {
	margin-left: 2%;
	font-size: 12pt;
}

#sidebar {
	md-content {
		padding-left: 0px;
	}
}