<title>Bourbon Cocktail Generator</title>
<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/custom.css' />
<link rel='stylesheet' href='/stylesheets/app.css' />