<div class="jumbotron">
	<div class="container-fluid">
        <h1>Bourbon Cocktail Generator</h1>
        <% if(user){ %>
        	<nav class="navbar navbar-default navbar-fixed-top">
          		<ul class="nav navbar-nav myNav">
            		<li><a href="/logout">Logout</a></li>
          		</ul>
        	</nav>
        <% } %>
	</div>
</div>