<!DOCTYPE html>
<html ng-app="cocktailApp">
  <head>
    <% include ../views/partials/head %>
  </head>
  <body ng-controller="editorController">
    <% include ../views/partials/header %>
    <div class="container-fluid" >
	<flash-message></flash-message>
  <sidebar id="sidebar" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h1>New Ingredient</h1>
    <form novalidate class="form-horizontal" id="ingredientForm" name="ingredientForm" ng-submit="save(ingredientForm.$valid, ingredient)">
		<div class="form-group">
			Name: <input type="text" name="ingredient" ng-model="ingredient.name" required  ng-minlength="3" /><br />
			<p class="formAlert" ng-show="ingredientForm.$submitted && ingredientName.$invalid">An ingredient must be 3 characters or longer</p>
			<input id="ingredientSubmit" type="submit" value="Submit"  />
	   </div>
    </form>
  </sidebar>

  <section id="cocktailList"  class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <h1>Add New Cocktail</h1>
    <section>
      <form novalidate id="cocktailForm" class="form-horizontal" name="cocktailForm" ng-submit="saveCocktail(cocktailForm.$valid, cocktail)">
		<div class="form-group">
			<p class="formAlert" ng-show="cocktailForm.$submitted && cocktailForm.cocktailName.$invalid">A cocktail must have a name</p>
			Name: <input type="text" id="cocktailName" name="cocktailName" ng-model="cocktail.name" required  /><br/>
			<input type="text" class="form-control" placeholder="Search for ingredient" ng-model="cocktailIngredient" uib-typeahead="ingredient as ingredient.name for ingredient in ingredients | filter:$viewValue" 
					typeahead-on-select='onSelect($item, $model, $label)'>
			<ul>
				<li ng-repeat="ingredient in ingredientList">
					<span value="ingredient._id" ng-model="cocktail.ingredients[$index].fuck">{{ingredient.name}}</span>
					<input type="text" placeholder="Enter cocktail listing" name="cocktailDescription_{{$index}}" ng-model="cocktail.ingredients[$index].contents" required />
					<button type="button" class="removeButton" tabindex="-1" ng-click="clearItem(cocktail, ingredient)">&#10006;</button><br/>
					<p class="formAlert" ng-show="cocktailForm.$submitted && cocktailForm.cocktailDescription_{{$index}}.$invalid" >A cocktail ingredient needs a description</p>
				
				</li>
			</ul>
			<p class="formAlert" ng-show="cocktailForm.$submitted && cocktailForm.cocktailDirections.$invalid">A cocktail needs directions</p>
			<label for="cocktailDirections">Enter Directions</label><br/>
			<textarea id="cocktailDirections" COLS=40 ROWS=6 name="cocktailDirections" ng-model="cocktail.directions" required ></textarea>
			<input type="submit" value="Submit"  />
		 </div>
      </form>
      <h2>Current Cocktails</h2>
      <ul>
        <li ng-repeat="cocktail in cocktails | orderBy: 'name'">
          {{cocktail.name}}<button type="button" class="removeButton" tabindex="-1" ng-click="deleteCocktail(cocktail)">&#10006;</button>
        </li>
      <ul>
    </section>
  </section>
</div>
  <% include ../views/partials/angular_components %>
  </body>
</html>
