<!DOCTYPE html>
<html ng-app="cocktailApp">
	<head>
		<% include ../views/partials/head %>
	</head>
	<body ng-controller="cocktailController">
		<% include ../views/partials/header %>
		<div class="container-fluid" >
			<sidebar id="sidebar" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<h1>Ingredient List</h1>
				<form name="ingredientForm">
					<input type="text" class="form-control" placeholder="Search for ingredient" ng-model="ingredient" uib-typeahead="ingredient as ingredient.name for ingredient in ingredients | filter:$viewValue" 
					typeahead-on-select='onSelect($item, $model, $label)'>
				</form>
				<h2>Current Ingredients</h2>
				<ul id="currentIngredientList">
					<li ng-repeat="ingredient in ingredientList track by $index">
						{{ingredient.name}}<button type="button" class="removeButton" tabindex="-1" ng-click="clearItem(ingredient)">&#10006;</button>
					</li>
				</ul>
				<button id="addIngredientButon" type="button" tabindex="-1" ng-if="activeList" ng-click="clearAll()">Clear All</button>
			</sidebar>
			<section id="cocktailList"  class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<h1>Possible Cocktails</h1>
					<section class="cocktailListing" ng-repeat="cocktail in cocktails  | cocktailFilter: ingredientList | orderBy: ['-complete','missing'] ">
						<uib-accordion>
							<uib-accordion-group heading="{{cocktail.name}} {{cocktail.heading}}">
								<ul>
									<li class="{{ ing.included ? 'included' : 'missing' }}" ng-repeat="ing in cocktail.ingredients ">{{ing.contents}}</li>
								</ul>
								<p>{{cocktail.directions}}</p>  
							</uib-accordion-group>
						</uib-accordion>  
					</section>
			</section>
		</div>
		<% include ../views/partials/angular_components %>
	</body>
</html>
