<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head %>
  </head>
  <body>
    <% include ../views/partials/header %>
<div class="container">
  <fieldset>
    <legend>Login</legend>
    <form class="form-horizontal" action="/login" method="post">
      <input type="text"  class="form-control" placeholder="Enter User name" name="username" /></br>
      <input type="password"  class="form-control" placeholder="Enter password" name="password" /></br>
      <input type="submit"  value="Submit"  />
    </form>
  </fieldset>
</div>
  <% include ../views/partials/angular_components %>
  </body>
</html>