<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head %>
  </head>
  <body ng-controller="cocktailController">
    <div class="jumbotron">
  <div class="container">
    <h1>Bourbon Cocktail Generator</h1>
  </div>
</div>
<div class="container-fluid" >
    <h1>Register</h1>
    <form action="/register" method="post">
      <input type="text" placeholder="Enter User name" name="username" /></br>
      <input type="text" placeholder="Enter password" name="password" /></br>
       <input type="submit" value="Submit"  />
    </form>
</div>
  <% include ../views/partials/angular_components %>
  </body>
</html>