html, body, .container-fluid {
	height: 100%;
}

#sidebar {
	height: 100%;
	border-right: 1px solid black;
}

#cocktailList {
	height: 100%;
}

.removeButton {
	margin-left: 2%;
	background: transparent;
	border: none;
}

.missing {
	color: red;
}

.myNav {
	float: right;
	margin-right: 3%; 
}

.cocktailListing {
	margin-top: 0%;
	margin-bottom: 0%;
}

.panel-group {
	margin-bottom: 0%;
}

#cocktailForm {
	margin-left: 2%;
}

#ingredientForm {
	margin-left: 2%;
}

#ingredientSubmit {
	margin-top: 2%;
}

#cocktailName {
	width: 100%;
	margin-bottom: 2%;
}

#cocktailDirections {
	width: 100%;
	margin-bottom: 2%;
}